.ourTour, .title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  text-transform: uppercase;
}
.ourTour::after, .title::after{
  content: '';
  width: 70px;
  height: 5px;
  background-color: goldenrod;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}